---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app node-feature-discovery
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    worker:
      config:
        core:
          sources: ["pci", "system", "usb"]
    prometheus:
      enable: false
