apiVersion: batch/v1
kind: CronJob
metadata:
  name: lancache-prefill-steam
spec:
  schedule: "0 1 * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: steam-prefill
              image: tpill90/steam-lancache-prefill:v3.4.1
              args: [ "prefill", "--recent" ]
              volumeMounts:
              - name: pvc
                mountPath: /Config
                subPath: SteamPrefill/Config
          volumes:
          - name: pvc
            persistentVolumeClaim:
              claimName: lancache-prefill
          restartPolicy: OnFailure
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: lancache-prefill-battlenet
spec:
  schedule: "0 2 * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: battle-prefill
              image: tpill90/battlenet-lancache-prefill:v2.3.0
              args: [ "prefill" ]
              volumeMounts:
              - name: pvc
                mountPath: /Config
                subPath: BattleNetPrefill/Config
          volumes:
          - name: pvc
            persistentVolumeClaim:
              claimName: lancache-prefill
          restartPolicy: OnFailure
# ---
# apiVersion: batch/v1
# kind: CronJob
# metadata:
#   name: lancache-prefill-epic
# spec:
#   schedule: "0 3 * * *"
#   successfulJobsHistoryLimit: 1
#   failedJobsHistoryLimit: 1
#   jobTemplate:
#     spec:
#       template:
#         spec:
#           containers:
#             - name: epic-prefill
#               image: tpill90/epic-lancache-prefill:v2.1.0
#               args: [ "prefill" ]
#               volumeMounts:
#               - name: pvc
#                 mountPath: /Config
#                 subPath: EpicPrefill/Config
#           volumes:
#           - name: pvc
#             persistentVolumeClaim:
#               claimName: lancache-prefill
#           restartPolicy: OnFailure