---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: amp
  labels:
    kubernetes.io/service-name: amp
addressType: IPv4
endpoints:
  - addresses:
      - 10.1.10.24
    conditions:
      ready: true
ports:
  - name: http
    port: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: amp
spec:
  ports:
    - name: http
      port: 80
      targetPort: 8080
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: amp
spec:
  hostnames: ["amp.noms.tv"]
  parentRefs:
    - name: envoy
      namespace: network
      sectionName: https
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: amp
          port: 80
