---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app old-homeassistant
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2025.1.2
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 8123
                  failureThreshold: 6
                  periodSeconds: 10
              readiness: *probes
              startup: *probes
            resources:
              limits:
                memory: 4Gi
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.105.1@sha256:2d48970bd2084aa34a522d772b6a437981ea80407465b3bf7958553985c570e1
            args: [
              "--auth", "none",
              "--user-data-dir", "/config/.vscode",
              "--extensions-dir", "/config/.vscode",
              "--port", "12321",
              "/config"
            ]
            probes:
              liveness: &code-probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &code-port 12321
                  failureThreshold: 6
                  periodSeconds: 10
              readiness: *code-probes
              startup: *code-probes
            resources:
              limits:
                memory: 512Mi
    service:
      app:
        ports:
          http:
            port: *port
      code-server:
        ports:
          http:
            port: *code-port
    route:
      app:
        hostnames: ["old-hass.noms.tv"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
      code:
        hostnames: ["old-hass-code.noms.tv"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: code-server
                port: 12321
    persistence:
      config:
        existingClaim: *app
      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            main:
              - path: /config/logs
                subPath: logs
              - path: /config/tts
                subPath: tts
              - path: /tmp
                subPath: tmp