---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: syncstorage-rs
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: syncstorage-rs
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      syncstorage-rs:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/porelli/firefox-sync
              tag: syncstorage-rs-mysql-0.21.1@sha256:e5888e9eb94f1c1d2218a4c9303b804fd823ec6a4104557b9260dd8c20d325b9
            env:
              RUST_LOG: info
              SYNC_HOST: 0.0.0.0
              SYNC_HUMAN_LOGS: 1
              SYNC_TOKENSERVER__ENABLED: "true"
              SYNC_TOKENSERVER__RUN_MIGRATIONS: "true"
              SYNC_TOKENSERVER__NODE_TYPE: mysql
              SYNC_TOKENSERVER__FXA_EMAIL_DOMAIN: api.accounts.firefox.com
              SYNC_TOKENSERVER__FXA_OAUTH_SERVER_URL: https://oauth.accounts.firefox.com/v1
              SYNC_TOKENSERVER__ADDITIONAL_BLOCKING_THREADS_FOR_FXA_REQUESTS: 2
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /__heartbeat__
                    port: &port 8000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
    defaultPodOptions:
      securityContext:
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.noms.tv"
          - sync.noms.tv
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https