---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cnpg-admin
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cnpg-admin
    template:
      engineVersion: v2
      type: kubernetes.io/basic-auth
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        username: "{{ .postgresUser | toString }}"
        password: "{{ .postgresPassword | toString }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cnpg-app
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cnpg-admin
    template:
      engineVersion: v2
      type: kubernetes.io/basic-auth
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        username: "{{ .appUser | toString }}"
        password: "{{ .appPassword | toString }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cnpg-webhook-cert
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cnpg-webhook-cert
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        tls.crt: "{{ .tls.crt }}"
        tls.key: "{{ .tls.key }}"
  dataFrom:
    - extract:
        key: noms-tv-tls
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cnpg-garage
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cnpg-garage
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        ACCESS_KEY_ID: "{{ .KeyID }}"
        ACCESS_SECRET_KEY: "{{ .SecretKey }}"
        REGION: "{{ .Region }}"
  dataFrom:
    - extract:
        key: garage