---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app piper
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rhasspy/wyoming-piper
              tag: 2.1.2@sha256:54c511aa81d3b9f1e02216e30d08c948bd0b145f3eea1e7b0461c8c4645e2864
            args: [
              "--data-dir", "/data",
              "--data-dir", "/custom",
              "--download-dir", "/data",
              "--length-scale", "1.0",
              "--noise-scale", "0.667",
              "--noise-w", "0.333",
              "--speaker", "0",
              "--voice", "en_US-lessac-medium",
              "--max-piper-procs", "1",
              "--update-voices",
              "--debug"
            ]
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 10200
                  failureThreshold: 6
                  periodSeconds: 10
              readiness: *probes
              startup: *probes
    service:
      app:
        ports:
          http:
            port: *port
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /data
            subPath: data
          - path: /custom
            subPath: custom