---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app reitti
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: dedicatedcode/reitti
              tag: 3.4.1@sha256:8221bfb3c65ef54b05b694a8de673e824d61173949608195d0fbe4ca22a1860f
            env:
              PHOTON_BASE_URL: http://photon:2322
              POSTGIS_DB: "{{ .Release.Name }}"
              POSTGIS_HOST: postgis-rw.databases
              RABBITMQ_HOST: reitti-rabbitmq
              REDIS_HOST: reitti-valkey
              SERVER_PORT: &port 80
              TILES_CACHE: http://reitti-tile-cache
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "location.noms.tv"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"