apiVersion: batch/v1
kind: CronJob
metadata:
  name: rtlamr2mqtt-restart
spec:
  schedule: "*/30 * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        spec:
          restartPolicy: Never
          serviceAccountName: rtlamr2mqtt-restart
          containers:
            - name: kubectl
              # renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
              image: registry.k8s.io/kubectl:v1.35.0
              args:
                - rollout
                - restart
                - deployment/rtlamr2mqtt
