---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rtlamr2mqtt
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: allangood/rtlamr2mqtt
              tag: 2025.6.6@sha256:9458419acca5f95d438b3a04f10291d19c37244e16c0286ee2033eb4465ad0a0
            securityContext:
              privileged: true
            ## Enable to List all devices
            # env:
            #   - name: LISTEN_ONLY
            #     value: yes
            #   - name: RTL_MSGTYPE
            #     value: "ALL"
            ##
    defaultPodOptions:
      nodeSelector:
        nesdr.feature.node.kubernetes.io/rtlamr: "true"
    persistence:
      config:
        type: secret
        name: rtlamr2mqtt
        globalMounts:
          - path: /etc/rtlamr2mqtt.yaml
            subPath: rtlamr2mqtt.yaml
            readOnly: true