---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: plex
  labels:
    kubernetes.io/service-name: plex
addressType: IPv4
endpoints:
  - addresses:
      - 10.1.10.10
    conditions:
      ready: true
ports:
  - name: http
    port: 32400
---
apiVersion: v1
kind: Service
metadata:
  name: plex
spec:
  ports:
    - name: http
      port: 80
      targetPort: 32400
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: plex
spec:
  hostnames: ["plex.noms.tv"]
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: plex
          port: 80
      filters:
        - type: RequestHeaderModifier
          requestHeaderModifier:
            remove:
              - Range
