---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dispatcharr-redis
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: dispatcharr-redis
  values:
    controllers:
      dispatcharr-redis:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: redis
              tag: 8.4.0@sha256:3906b477e4b60250660573105110c28bfce93b01243eab37610a484daebceb04
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 6379
                  failureThreshold: 6
                  periodSeconds: 10
              readiness: *probes
              startup: *probes
    service:
      app:
        ports:
          http:
            port: *port