---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: fastapi-dls
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: fastapi-dls
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      fastapi-dls:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: collinwebdesigns/fastapi-dls
              tag: 2.0.3@sha256:e5078363ef86548b41c998367dfa2641015c5b7ffb7b3db280332669f8b1b5f0
            env:
              DATABASE: sqlite:////data/db.sqlite
              DEBUG: "false"
              DLS_PORT: &port 443
              DLS_URL: "{{ .Release.Name }}.noms.tv"
              LEASE_EXPIRE_DAYS: 90
              TZ: America/New_York
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
    defaultPodOptions:
      securityContext:
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          https:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.noms.tv"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
      certs:
        type: secret
        name: noms-tv-tls
        defaultMode: 0400
        advancedMounts:
          fastapi-dls:
            app:
              - path: /app/cert/webserver.crt
                subPath: tls.crt
              - path: /app/cert/webserver.key
                subPath: tls.key