---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app forgejo-home-ops-runner
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: git.noms.tv/homelab/containers/forgejo-home-ops-runner
              tag: latest@sha256:d68a680408f09f609186783685a08a2b918ed62f3a400e962f6a2ca3bb3c79b0
            env:
              - name: NODE
                valueFrom:
                  fieldRef:
                    fieldPath: status.hostIP
              - name: TALOSCONFIG
                value: /var/run/secrets/talos.dev/config
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
        serviceAccount:
          name: *app
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      talos:
        type: secret
        name: *app
        globalMounts:
          - path: /var/run/secrets/talos.dev