---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: forgejo-home-ops-runner
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-block