---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home
components:
  - ../../components/common
resources:
  - ./namespace.yaml
  - ./esphome/ks.yaml
  - ./homeassistant/ks.yaml
  - ./mosquitto/ks.yaml
  - ./node-red/ks.yaml
  # - ./openwakeword/ks.yaml
  # - ./piper/ks.yaml
  - ./rtlamr2mqtt/ks.yaml
  - ./tasmoadmin/ks.yaml
  # - ./whisper/ks.yaml
  - ./zigbee2mqtt/ks.yaml
  - ./zwave-js-ui/ks.yaml