---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sonarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/home-operations/sonarr
              tag: 4.0.15.2940@sha256:ca6c735014bdfb04ce043bf1323a068ab1d1228eea5bab8305ca0722df7baf78
            env:
              TZ: America/New_York
              SONARR__AUTHENTICATION__METHOD: External
              SONARR__AUTHENTICATION__REQUIRED: DisabledForLocalAddresses
              SONARR__INSTANCENAME: Sonarr
              SONARR__PORT: &port 80
              SONARR__LOG__LEVEL: info
              SONARR__LOG__DBENABLED: 'false'
              SONARR__THEME: dark
              SONARR__UPDATE__BRANCH: develop
            envFrom:
              - secretRef:
                  name: *app
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 8Gi
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: true
              # capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        # fsGroup: 568
        # fsGroupChangePolicy: OnRootMismatch
    service:
      main:
        controller: *app
        ports:
          http:
            port: *port
    ingress:
      *app :
        enabled: true
        className: "ingress-nginx"
        hosts:
          - host: sonarr.noms.tv
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
    # route:
    #   app:
    #     hostnames: ["sonarr.noms.tv"]
    #     parentRefs:
    #       - name: internal
    #         namespace: kube-system
    #         sectionName: https
    #     rules:
    #       - backendRefs:
    #           - name: *app
    #             port: *port
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      complete:
        type: nfs
        server: 172.16.1.10
        path: /mnt/BigPool/Downloads
        globalMounts:
          - path: /Downloads/Complete
      media:
        type: nfs
        server: 172.16.1.10
        path: /mnt/BigPool/Media
        globalMounts:
          - path: /PlexMedia
      incomplete:
        type: nfs
        server: 172.16.1.10
        path: /mnt/Scratch/Downloads
        globalMounts:
          - path: /Downloads/Incomplete