---
clusterName: core
talosVersion: v1.11.5
kubernetesVersion: v1.34.1
endpoint: https://core-k8s.services:6443
domain: cluster.local
allowSchedulingOnMasters: true
clusterPodNets:
  - 172.22.0.0/16
clusterSvcNets:
  - 172.23.0.0/16
patches:
  - "@./patches/cluster.yaml"
  - "@./patches/features.yaml"
  - "@./patches/files.yaml"
  - "@./patches/kubelet.yaml"
  - "@./patches/sysctls.yaml"
  - "@./patches/networking.yaml"
controlPlane:
  patches:
   - "@./patches/cluster-cp.yaml"
   - "@./patches/features-cp.yaml"
nodes:
##########
## Core-1 ##
##########

  - hostname: Core-1
    ipAddress: "10.1.20.51"
    controlPlane: true
    installDisk: /dev/mmcblk0
    machineSpec: &machinespec
      mode: metal
      arch: arm64
      secureboot: false
    schematic: &schematic
      overlay:
        image: siderolabs/sbc-raspberrypi
        name: rpi_generic
      customization:
        extraKernelArgs:
          - -init_on_alloc                      # Less security, faster puter
          - -init_on_free                       # Less security, faster puter
          - -selinux                            # Less security, faster puter
          - apparmor=0                          # Less security, faster puter
          - init_on_alloc=0                     # Less security, faster puter
          - init_on_free=0                      # Less security, faster puter
          - iommu=pt                            # PCI Passthrough
          - security=none                       # Less security, faster puter
          - talos.auditd.disabled=1             # Less security, faster puter
        systemExtensions:
            officialExtensions:
                - siderolabs/nfsrahead

##########
## Core-2 ##
##########

  - hostname: Core-2
    ipAddress: "10.1.20.52"
    controlPlane: true
    installDisk: /dev/mmcblk0
    machineSpec: *machinespec
    schematic: *schematic

##########
## Core-3 ##
##########

  - hostname: Core-3
    ipAddress: "10.1.20.53"
    controlPlane: true
    installDisk: /dev/mmcblk0
    machineSpec: *machinespec
    schematic: *schematic

##########
## Core-4 ##
##########

  - hostname: Core-4
    ipAddress: "10.1.20.54"
    installDisk: /dev/mmcblk0
    machineSpec: *machinespec
    schematic: *schematic