---
machine:
  type: worker
  nodeLabels:
    topology.kubernetes.io/zone: m
  install:
      diskSelector:
          model: '*MZVLB256*'
  kernel:
    modules:
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_modeset
      - name: nvidia_drm
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: main-8
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - eno1np0
  - eno2np1