---
machine:
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: m
  install:
      diskSelector:
          model: PM991*
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: main-3
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - enp1s0