---
machine:
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: m
  install:
    diskSelector:
      model: Micron*
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: main-1
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - enp1s0