---
machine:
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: m
  install:
      diskSelector:
          model: PM991*
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: main-3