---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ./namespace.yaml
  - ./actual-budget/ks.yaml
  - ./homepage/ks.yaml
  - ./immich/ks.yaml
  - ./karakeep/ks.yaml
  - ./linkwarden/ks.yaml
  - ./lubelogger/ks.yaml
  - ./mealie/ks.yaml
  - ./paperless/ks.yaml
  - ./radicale/ks.yaml
  - ./spoolman/ks.yaml
  - ./wallos/ks.yaml
  - ./wikijs/ks.yaml