---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mosquitto
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: eclipse-mosquitto
              tag: 2.0.22
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 1883
                  failureThreshold: 6
                  periodSeconds: 10
              readiness: *probes
              startup: *probes
    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.1.20.21
        ports:
          mqtt:
            port: *port
    persistence:
      config:
        type: secret
        name: mosquitto
        globalMounts:
          - path: /mosquitto/config/mosquitto.conf
            subPath: mosquitto.conf
            readOnly: true
          - path: /mosquitto/config/pwfile
            subPath: pwfile
            readOnly: true
      data:
        existingClaim: mosquitto
        advancedMounts:
          mosquitto:
            app:
              - path: /mosquitto/data
                subPath: data
              - path: /mosquitto/log
                subPath: log