apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute # NOTE: remove when v0.40 is released. https://github.com/kubernetes-sigs/headlamp/pull/4299
metadata:
  name: headlamp
spec:
  hostnames: ["headlamp.noms.tv"]
  parentRefs:
    - name: envoy-internal
      namespace: network
      sectionName: https
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: headlamp
          port: 80