---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app radarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/radarr
              tag: 6.1.1.10317@sha256:5e08c0eefd2770d1d29395c4f84fe5bf7dfc3a986598021306a5d8ac017a3989
            env:
              TZ: America/New_York
              RADARR__AUTHENTICATION__METHOD: External
              RADARR__AUTHENTICATION__REQUIRED: DisabledForLocalAddresses
              RADARR__INSTANCENAME: Radarr
              RADARR__SERVER__PORT: &port 80
              RADARR__POSTGRES__HOST: main-db-rw.databases
              RADARR__POSTGRES__MAINDB: "{{ .Release.Name }}"
              RADARR__POSTGRES__PORT: "5432"
              RADARR__LOG__LEVEL: info
              RADARR__LOG__DBENABLED: 'false'
              RADARR__THEME: dark
              RADARR__UPDATE__BRANCH: develop
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.noms.tv"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      config-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: /config/MediaCover
      complete:
        type: nfs
        server: truenas.internal
        path: /mnt/BigPool/Media/Downloads
        globalMounts:
          - path: /media/Downloads/Complete
      incomplete:
        type: nfs
        server: truenas.internal
        path: /mnt/Scratch/Downloads
        globalMounts:
          - path: /Downloads/Incomplete
      media:
        type: nfs
        server: truenas.internal
        path: /mnt/BigPool/Media