---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cs2
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: cm2network/cs2
              tag: latest@sha256:9bc00820405ff02356f9413f0bd90ba9562387e6edb4b295f25f2b5879a876bb
            envFrom:
              - secretRef:
                  name: *app
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 27015
                  failureThreshold: 15
                  periodSeconds: 1
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: *port
                  failureThreshold: 60
                  periodSeconds: 10
            resources:
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      main:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 172.16.1.76, ::ffff:172.16.1.76
        ports:
          tcp:
            port: *port
          udp:
            port: *port
            protocol: UDP
          tv:
            port: 27020
            protocol: UDP
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /home/steam/cs2-dedicated