---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: gitlab
  labels:
    kubernetes.io/service-name: gitlab
addressType: IPv4
endpoints:
  - addresses:
      - 10.1.15.10
    conditions:
      ready: true
ports:
  - name: http
    port: 443
---
apiVersion: v1
kind: Service
metadata:
  name: gitlab
spec:
  ports:
    - name: https
      port: 443
      targetPort: 443
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: gitlab
spec:
  hostnames: ["gitlab.noms.tv"]
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: gitlab
          port: 443
