---
customization:
  extraKernelArgs:
    - i915.enable_guc=3                   # Meteor Lake CPU & Intel iGPU
    - i915.force_probe=!56a5              # Let xe driver own Arc A380
    - xe.force_probe=56a5                 # xe driver claims Arc A380
    - intel_iommu=on                      # PCI Passthrough
    - amd_iommu=on                        # PCI Passthrough
    - iommu=pt                            # PCI Passthrough
    - sysctl.kernel.kexec_load_disabled=1 # Meteor Lake CPU & Intel iGPU
  systemExtensions:
    officialExtensions:
      - siderolabs/i915                   # Intel iGPU
      - siderolabs/xe                     # Intel Gen12+/Arc GPU
      - siderolabs/intel-ucode            # Intel iGPU
      - siderolabs/mei                    # Intel iGPU