---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: games
components:
  - ../../components/common
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  # - ./samba/ks.yaml
  #- ./astroneer/ks.yaml
  # - ./sevendaystodie/ks.yaml
  # - ./cs2/ks.yaml
  - ./satisfactory/ks.yaml