---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-values
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: authentik-values
    template:
      engineVersion: v2
      data:
        values.yaml: |
            authentik:
                secret_key: "{{ .secretKey }}"
                error_reporting:
                    enabled: true
                postgresql:
                    host: main-db-rw.databases
                    name: authentik
                    user: "{{ .appUser }}"
                    password: "{{ .appPassword }}"
                email:
                    host: "smtp.gmail.com"
                    port: 587
                    username: "{{ .smtpUsername }}"
                    password: "{{ .smtpPassword }}"
                    use_tls: false
                    use_ssl: false
                    timeout: 30
                    from: "{{ .emailFrom }}"
            server:
              route:
                main:
                  enabled: true
                  hostnames: ["{{ .hostname }}"]
                  parentRefs:
                    - name: envoy-external
                      namespace: network
                      sectionName: https
            postgresql:
                enabled: false
            redis:
                enabled: true
                master:
                  persistence:
                    enabled: true
                    existingClaim: authentik
                    subpath: redis-master
                replcia:
                  persistence:
                    enabled: true
                    existingClaim: authentik
                    subpath: redis-master
  dataFrom:
    - extract:
        key: authentik
    - extract:
        key: cloudnative-pg