---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: authentik
  valuesFrom:
    - kind: Secret
      name: authentik-values
