---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: paperless
    template:
      engineVersion: v2
      data:
        PAPERLESS_URL: "{{ .URL }}"
        PAPERLESS_ALLOWED_HOSTS: "{{ .allowedHosts }}"
        PAPERLESS_SECRET_KEY: "{{ .secretKey }}"
        PAPERLESS_TIME_ZONE: America/New_York
        PAPERLESS_OCR_LANGUAGE: eng
        PAPERLESS_CONSUMER_POLLING: "5"
        PAPERLESS_BIND_ADDR: 0.0.0.0
        PAPERLESS_PORT: "8000"
        PAPERLESS_REDIS: redis://paperless-redis:6379
        PAPERLESS_DBHOST: pooler-main-rw.databases
        PAPERLESS_DBNAME: paperless
        PAPERLESS_DBUSER: "{{ .appUser }}"
        PAPERLESS_DBPASS: "{{ .appPassword }}"
        PAPERLESS_TIKA_ENABLED: "1"
        PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://paperless-gotenberg:3000
        PAPERLESS_TIKA_ENDPOINT: http://paperless-tika:9998
        PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
        PAPERLESS_SOCIALACCOUNT_PROVIDERS: >
            {
              "openid_connect": {
                "APPS": [
                  {
                    "provider_id": "authentik",
                    "name": "Authentik",
                    "client_id": "{{ .oidClientID }}",
                    "secret": "{{ .oidClientSecret }}",
                    "settings": {
                      "server_url": "{{ .oidClientUrl }}"
                    }
                  }
                ],
                "OAUTH_PKCE_ENABLED": "True"
              }
            }
  dataFrom:
    - extract:
        key: paperless
    - extract:
        key: cloudnative-pg