---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.9@sha256:1d99ede700ffdf7aa44899b5fee29c8c279f175769b6cb295e91e9f15772728e
            envFrom:
              - secretRef:
                  name: *app
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 8000
                  failureThreshold: 6
                  periodSeconds: 10
              readiness: *probes
              startup: *probes
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "archive.noms.tv"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /usr/src/paperless/data
            subPath: data
          - path: /usr/src/paperless/media
            subPath: media
          # - path: /usr/src/paperless/export
          #   subPath: export
          # - path: /usr/src/paperless/consume
          #   subPath: consume
      truenas:
        type: nfs
        server: truenas.internal
        path: /mnt/Scratch/Kubernetes/Paperless
        globalMounts:
          - path: /usr/src/paperless/export
            subPath: export
          - path: /usr/src/paperless/consume
            subPath: consume