---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: lubelogger
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: lubelogger
    template:
      engineVersion: v2
      data:
        TZ: America/New_York
        LC_ALL: en_US.UTF-8
        LANG: en_US.UTF-8
        MailConfig__EmailServer: "smtp.gmail.com"
        MailConfig__EmailFrom: "{{ .emailFrom }}"
        MailConfig__UseSSL: "false"
        MailConfig__Port: "587"
        MailConfig__Username: "{{ .smtpUsername }}"
        MailConfig__Password: "{{ .smtpPassword }}"
        OpenIDConfig__Name: "Authentik"
        OpenIDConfig__ClientId: "{{ .oidClientID }}"
        OpenIDConfig__ClientSecret: "{{ .oidClientSecret }}" 
        OpenIDConfig__AuthURL: "{{ .oidAuthURL }}"
        OpenIDConfig__TokenURL: "{{ .oidTokenURL }}"
        OpenIDConfig__RedirectURL: "{{ .oidRedirectURL }}"
        OpenIDConfig__Scope: "openid email"
        OpenIDConfig__ValidateState: "false"
        OpenIDConfig__DisableRegularLogin: "false"
        POSTGRES_CONNECTION: Host=main-db-rw.databases:5432;Username="{{ .appUser }}";Password="{{ .appPassword }}";Database=lubelogger;
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: lubelogger