---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mealie
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: mealie
    template:
      engineVersion: v2
      data:
        POSTGRES_USER: "{{ .appUser }}"
        POSTGRES_PASSWORD: "{{ .appPassword }}"
        POSTGRES_DB: mealie
        # Set Backend ENV Variables Here
        ALLOW_SIGNUP: "false"
        TZ: America/New_York
        BASE_URL: "{{ .BaseUrl }}"
        # Database Settings
        DB_ENGINE: postgres
        POSTGRES_SERVER: pooler-main-rw.databases
        POSTGRES_PORT: "5432"
        # AI Settings
        OPENAI_API_KEY: "{{ .openAIKey }}"
        OPENAI_ENABLE_IMAGE_SERVICES: "true"
        OPENAI_MODEL: gpt-4o-mini
        # OIDC Login
        OIDC_AUTH_ENABLED: "true"
        OIDC_SIGNUP_ENABLED: "true"
        OIDC_CONFIGURATION_URL: "{{ .OIDCConfigUrl }}"
        OIDC_CLIENT_ID: "{{ .OIDCClientID }}"
        OIDC_CLIENT_SECRET: "{{ .OIDCClientSecret }}"
        OIDC_AUTO_REDIRECT: "True"
        OIDC_PROVIDER_NAME: "Authentik"
        OIDC_REMEMBER_ME: "true"
        OIDC_ADMIN_GROUP: "{{ .OIDCAdminGroup }}"
        # SMTP Settings
        SMTP_HOST: "{{ .smtpHost }}"
        SMTP_PORT: "{{ .smtpPort }}"
        SMTP_FROM_NAME: "Mealie"
        SMTP_AUTH_STRATEGY: "TLS"
        SMTP_FROM_EMAIL: "{{ .SMTPFromEmail }}"
        SMTP_USER: "{{ .smtpUsername }}"
        SMTP_PASSWORD: "{{ .smtpPassword }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: Mealie
    - extract:
        key: SMTP