---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: immich
  values:
    controllers:
      main:
        containers:
          main:
            env:
              DB_DATABASE_NAME: immich
              DB_HOSTNAME: vector-db-rw.databases
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    key: DB_PASSWORD
                    name: immich
              DB_USERNAME:
                valueFrom:
                  secretKeyRef:
                    key: DB_USERNAME
                    name: immich
              LOG_LEVEL: verbose
              MACHINE_LEARNING_PRELOAD__CLIP: "ViT-H-14-378-quickgelu__dfn5b"
              TZ: America/New_York
            image:
              # renovate: datasource=github-releases depName=immich-app/immich
              tag: v2.4.1
    immich:
      metrics:
        enabled: true
      persistence:
        library:
          existingClaim: immich
    machine-learning:
      controllers:
        main:
          strategy: Recreate
          containers:
            main:
              resources:
                limits:
                  gpu.intel.com/i915: 1
          pod:
            affinity:
              nodeAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                  nodeSelectorTerms:
                  - matchExpressions:
                    - key: gpu.intel.com/family
                      operator: In
                      values:
                        - A_Series
      env:
        TRANSFORMERS_CACHE: /cache
      persistence:
        cache:
          accessMode: ReadWriteOnce
          enabled: true
          size: 10Gi
          type: emptyDir
    server:
      ingress:
        main:
          enabled: false
    valkey:
      enabled: true