---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: immich
  values:
    immich:
      metrics:
        enabled: true
      persistence:
        library:
          existingClaim: immich

    server:
      route:
        main:
          hostnames: 
            - "photos.noms.tv"
          parentRefs:
            - name: envoy-external
              namespace: network
              sectionName: https
          backendRefs:
            - name: immich-server
              port: 2283

    valkey:
      enabled: true

    controllers:
      main:
        containers:
          main:
            image:
              # renovate: datasource=github-releases depName=immich-app/immich
              tag: v2.4.1

            env:
              DB_DATABASE_NAME: immich
              DB_HOSTNAME: vector-db-rw.databases
              LOG_LEVEL: verbose
              MACHINE_LEARNING_PRELOAD__CLIP: "ViT-H-14-378-quickgelu__dfn5b"
              TZ: America/New_York

            envFrom:
              - secretRef:
                  name: immich

    machine-learning:
      env:
        TRANSFORMERS_CACHE: /cache

      persistence:
        cache:
          enabled: true
          type: persistentVolumeClaim
          accessMode: ReadWriteOnce
          size: 10Gi
          storageClass: ceph-block

      controllers:
        main:
          strategy: Recreate
          containers:
            main:
              resources:
                limits:
                  gpu.intel.com/i915: 1
          pod:
            affinity:
              nodeAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                  nodeSelectorTerms:
                    - matchExpressions:
                        - key: gpu.intel.com/family
                          operator: In
                          values:
                            - A_Series