---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app intel-device-plugins-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    crds: CreateReplace
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
  values:
    manager:
      devices:
        gpu: true