---
clusterName: main
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.0
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.34.1
endpoint: https://k8s.services:6443
domain: cluster.local
allowSchedulingOnMasters: true
clusterPodNets:
  - 172.20.0.0/16
clusterSvcNets:
  - 172.21.0.0/16
patches:
  - "@./patches/cluster.yaml"
  - "@./patches/features.yaml"
  - "@./patches/files.yaml"
  - "@./patches/kubelet.yaml"
  - "@./patches/sysctls.yaml"
  - "@./patches/networking.yaml"
controlPlane:
  patches:
   - "@./patches/cluster-cp.yaml"
   - "@./patches/features-cp.yaml"
nodes:
##########
## Main-1 ##
##########

  - hostname: Main-1
    ipAddress: 10.1.20.11
    controlPlane: true
    machineSpec:
      mode: metal
      arch: amd64
      secureboot: false
    networkInterfaces: &networkInterfaces
      - interface: bond0
        bond:
          interfaces:
            - enp1s0
          mode: active-backup
    schematic:
      customization:
        extraKernelArgs: &intel-extraKernelArgs
          - -init_on_alloc                      # Less security, faster puter
          - -init_on_free                       # Less security, faster puter
          - -selinux                            # Less security, faster puter
          - apparmor=0                          # Less security, faster puter
          # - i915.enable_guc=3                   # Meteor Lake CPU / iGPU
          - init_on_alloc=0                     # Less security, faster puter
          - init_on_free=0                      # Less security, faster puter
          - intel_iommu=on                      # PCI Passthrough
          - iommu=pt                            # PCI Passthrough
          - mitigations=off                     # Less security, faster puter
          - security=none                       # Less security, faster puter
          # - sysctl.kernel.kexec_load_disabled=1 # Meteor Lake CPU / iGPU
          - talos.auditd.disabled=1             # Less security, faster puter
        systemExtensions: &intel-officialExtensions
            officialExtensions:
                - siderolabs/i915
                - siderolabs/intel-ucode
                - siderolabs/mei
                - siderolabs/nfsrahead
    installDiskSelector:
      model: Micron*

##########
## Main-2 ##
##########

  - hostname: Main-2
    ipAddress: 10.1.20.12
    machineSpec:
      mode: metal
      arch: amd64
      secureboot: false
    networkInterfaces: *networkInterfaces
    schematic:
      customization:
        extraKernelArgs: *intel-extraKernelArgs
        systemExtensions: *intel-officialExtensions
    installDiskSelector:
      model: PM991*

##########
## Main-3 ##
##########

  - hostname: Main-3
    ipAddress: 10.1.20.13
    controlPlane: true
    machineSpec:
      mode: metal
      arch: amd64
      secureboot: false
    networkInterfaces: *networkInterfaces
    schematic:
      customization:
        extraKernelArgs: *intel-extraKernelArgs
        systemExtensions: *intel-officialExtensions
    installDiskSelector:
      model: PM991*

##########
## Main-4 ##
##########

  - hostname: Main-4
    ipAddress: 10.1.20.14
    machineSpec:
      mode: metal
      arch: amd64
      secureboot: false
    networkInterfaces: *networkInterfaces
    schematic:
      customization:
        extraKernelArgs: *intel-extraKernelArgs
        systemExtensions: *intel-officialExtensions
    installDiskSelector:
      model: PM991*


##########
## Main-5 ##
##########

  - hostname: Main-5
    ipAddress: 10.1.20.15
    controlPlane: true
    machineSpec:
      mode: metal
      arch: amd64
      secureboot: false
    networkInterfaces: *networkInterfaces
    schematic:
      customization:
        extraKernelArgs: *intel-extraKernelArgs
        systemExtensions: *intel-officialExtensions
    installDiskSelector:
      model: PM991*

##########
## Main-6 ##
##########

  - hostname: Main-6
    ipAddress: 10.1.20.16
    machineSpec:
      mode: metal
      arch: amd64
      secureboot: false
    networkInterfaces: *networkInterfaces
    schematic:
      customization:
        extraKernelArgs: *intel-extraKernelArgs
        systemExtensions: *intel-officialExtensions
    installDiskSelector:
      model: PM991*

##########
## Main-7 ##
##########

  - hostname: Main-7
    ipAddress: 10.1.20.17
    machineSpec:
      mode: metal
      arch: amd64
      secureboot: false
    networkInterfaces:
      - interface: bond0
        bond:
          interfaces:
            - enp4s0
          mode: active-backup
    schematic:
      customization:
        extraKernelArgs: &amd-extraKernelArgs
          - -init_on_alloc                      # Less security, faster puter
          - -init_on_free                       # Less security, faster puter
          - -selinux                            # Less security, faster puter
          - apparmor=0                          # Less security, faster puter
          - i915.enable_guc=3                   # Intel A-Series GPU
          - init_on_alloc=0                     # Less security, faster puter
          - init_on_free=0                      # Less security, faster puter
          - amd_iommu=on                        # PCI Passthrough
          - iommu=pt                            # PCI Passthrough
          - mitigations=off                     # Less security, faster puter
          - security=none                       # Less security, faster puter
          - sysctl.kernel.kexec_load_disabled=1 # Intel A-Series GPU
          - talos.auditd.disabled=1             # Less security, faster puter
        systemExtensions: &amd-officialExtensions
            officialExtensions:
                - siderolabs/amd-ucode
                - siderolabs/i915
                - siderolabs/mei
                - siderolabs/nfsrahead
    installDiskSelector:
      model: 512GB*