---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wikijs
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    controllers:
      wikijs:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: requarks/wiki
              tag: 2.5.307
            env:
              - name: TZ
                value: America/New_York
            envFrom:
              - secretRef:
                  name: wikijs-env
            probes:
              liveness: &app-probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &app-port 3000
                  failureThreshold: 6
                  periodSeconds: 10
              readiness: *app-probes
              startup: *app-probes
            resources:
              requests:
                cpu: 47m
                memory: 256Mi
              limits:
                memory: 1Gi
    service:
      main:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["wiki.noms.tv"]
        parentRefs:
          - name: envoy
            namespace: network
            sectionName: https