---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app plex
spec:
  components:
    # - ../../../../components/nfs-scaler
    - ../../../../components/volsync
  dependsOn:
    - name: intel-device-plugins-gpu
      namespace: kube-system
    - name: volsync
      namespace: volsync-system
  interval: 1h
  path: ./kubernetes/apps/media/plex/app
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 100Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  wait: false