---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
components:
  - ../../components/common
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./certificates/ks.yaml
  - ./cloudflare-ddns/ks.yaml
  - ./cloudflare-dns/ks.yaml
  - ./cloudflare-tunnel/ks.yaml
  - ./envoy-gateway/ks.yaml
  - ./external-proxy/ks.yaml
  - ./fastapi-dls/ks.yaml
  # - ./lancache/ks.yaml
  - ./netbootxyz/ks.yaml
  - ./unifi-dns/ks.yaml
